<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
        <a class="nav-link" href="/admin">
            <ion-icon name="keypad"></ion-icon>
            <span class="nav-link-text">لوحه التحكم </span>
        </a>
    </li>

    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
        <a class="nav-link" href="/admin/user">
            <ion-icon name="cog"></ion-icon>
            <span class="nav-link-text">مستخدم  </span>
        </a>
    </li>


    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
         <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapsePosts" data-parent="#exampleAccordion">
            <ion-icon name="logo-octocat"></ion-icon>
            <span class="nav-link-text">المنتجات </span>

        </a>

        <ul class="sidenav-second-level collapse" id="collapsePosts">

            <li>
                <a href="/admin/products">المنتجات </a>
            </li>

            <li>
                <a href="/admin/products/create">اضافه منتج </a>
            </li>
        </ul>
    </li>

    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
        <a class="nav-link" href="/admin/category/create">
            <ion-icon name="cog"></ion-icon>
            <span class="nav-link-text">الاقسام </span>
        </a>
    </li>
</ul>