
<div class="topnav" id="myTopnav">
 <a href="/"><img class="logo-top active" src="/img/logo3.png" alt="" title="" /></a>
 <a href="/">الرئيسيه </a>
                    {{#if user}}
                        {{#if user.isAdmin}}
                                <a  href="/admin">Admin</a>                           
                        {{/if}}
                    {{/if}}
                                  
                        <a  href="/contact">اتصل بنا </a>
                        <a  href="/product/products">جميع الاعلانات </a>
                    
                    {{#if user}}
                            <a  href="/product/my-products"> حسابي </a>                    
                    {{/if}}
                    {{#if user}}
                        {{#if user.approveUser}}
                          <a href="/product/create">اضافة اعلان </a>
                        {{/if}}
                    {{/if}}
                     {{#if user}}     
                            <a class="nav-link ticker-btn"  href="/logout">خروج</a>                       
                    {{else}}
                       
                            <a class="nav-link ticker-btn" href="/register">تسجيل </a>
                      
                        
                            <a class="nav-link ticker-btn" href="/login">دخول </a>
                       
                    {{/if}}

  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>
<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>