<!--Content Area Start-->
      <div id="content">
        <!-- slider-hero start here -->
        <section class="slider-hero inner-banner_info">
          <div class="container">
            <h1>trainer detail</h1>
          </div>
        </section>

        <!-- slider-hero End here -->

        <!-- breadcrum-sec start here -->
        <section class="breadcrum-sec">
          <div class="container">
            <ol class="breadcrumb">
              <li>
                <a href="#">Home</a>
              </li>
              <li class="active">
                trainer detail
              </li>
            </ol>
          </div>
        </section>
        <!-- breadcrum-sec end here -->

        <!-- shop-detail start here -->
        <section class="trainer-detail">
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <div class="trainer-pic zoom">
                  <figure>
                    <img src="assets/images/trainer-pic.jpg" alt="">
                  </figure>
                </div>
              </div>
              <div class="col-sm-5">
                <div class="trainer-info">
                  <div class="trainer-name">
                    <h2>Marria DOE</h2><span class="button-btn exp-btn">EXP:  8 years</span>
                    <strong>(Body Building Trainer)</strong>
                  </div>
                  <p>
                    Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy sometimes on purpose (injected humour and the like).
                  </p>
                  <p>
                    Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy sometimes on purpose (injected humour and the like). and a search for 'lorem ipsum' will uncover many web sites still in.
                  </p>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="trainer-contact">
                  <i class="fa fa-phone phone-btn"></i>
                  <span>Contact <span>marRia Doe AT</span></span>
                  <a href="callto:2151234567">215 123 4567</a>
                </div>
                <div class="video-block">
                  <img src="assets/images/video-pic.jpg" alt="">
                  <i class="fa fa-play-circle-o play-btn"></i>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="benifit-yoga">
                  <h3>qualification</h3>
                  <p>
                    Bachelor human movement exercise physiologist
                    group exercise and personal trainer certified
                    certificate fitness Instructor.
                  </p>

                </div>
              </div>
              <div class="col-sm-4">
                <div class="benifit-yoga">
                  <h3>experience</h3>
                  <ul class="catgory-list">
                    <li>
                      <i class="fa fa-long-arrow-right"></i> 6 years as a personal trainer at fit&fab gym
                    </li>
                    <li>
                      <i class="fa fa-long-arrow-right"></i>1 years managing body xpress
                    </li>
                    <li>
                      <i class="fa fa-long-arrow-right"></i>1 years as a personal trainer at total fitness.
                    </li>

                  </ul>

                </div>
              </div>
              <div class="col-sm-4">
                <div class="benifit-yoga">
                  <h3>specialization</h3>
                  <ul class="catgory-list">
                    <li>
                      <i class="fa fa-long-arrow-right"></i> Exercise Rehabilitation

                    </li>
                    <li>
                      <i class="fa fa-long-arrow-right"></i>Begining Level Exercise Programming
                    </li>
                    <li>
                      <i class="fa fa-long-arrow-right"></i>Weight Loss
                    </li>

                  </ul>

                </div>
              </div>
            </div>

            <div class="row yoga-class-wrap top-space">
              <div class="col-xs-12">
                <div class="head-global family-oswald">
                  <h2 class="h2">Classes by maria DOE</h2>

                </div>
              </div>
              <div class="col-xs-12 col-sm-4 classes-listing-wrap zoom">
                <figure>
                  <img src="assets/images/classes-1.jpg" alt="class">
                  <span>06pm - 09pm</span>

                </figure>
                <div class="classes-content">
                  <h3>BODY ATTACK PROGRAM</h3>
                  <span>WITH Todd Smith</span>
                </div>
                <p>
                  Duis placerat aliquam orci non auctor. Suspendiyas
                  disse cursus purus at nisi tempor, a gradually the vida turpis facilisis available.
                </p>
                <a href="class-detail.html" class="link">read more</a>

              </div>
              <div class="col-xs-12 col-sm-4  classes-listing-wrap zoom">
                <figure>
                  <img src="assets/images/classes-2.jpg" alt="class">
                  <span>06pm - 09pm</span>

                </figure>
                <div class="classes-content">
                  <h3>YOGA CLASSIS</h3>
                  <span>WITH Dianes Dawkins</span>
                </div>
                <p>
                  Duis placerat aliquam orci non auctor. Suspendiyas
                  disse cursus purus at nisi tempor, a gradually the vida turpis facilisis available.
                </p>
                <a href="class-detail.html" class="link">read more</a>

              </div>
              <div class="col-xs-12 col-sm-4  classes-listing-wrap zoom">
                <figure>
                  <img src="assets/images/classes-3.jpg" alt="class">
                  <span>06pm - 09pm</span>

                </figure>
                <div class="classes-content">
                  <h3>WEIGHT LOOSING PROGRAM</h3>
                  <span>WITH Dianes Dawkins</span>
                </div>
                <p>
                  Duis placerat aliquam orci non auctor. Suspendiyas
                  disse cursus purus at nisi tempor, a gradually the vida turpis facilisis available.
                </p>
                <a href="class-detail.html" class="link">read more</a>

              </div>
            </div>

          </div>
        </section>
        <!-- shop-detail end here -->

      </div>
      <!--Content Area End-->