           
            <!-- Start callto-action Area -->
<section class="callto-action-area section-gap" id="join">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content col-lg-9">
                <div class="title text-center">
                    <h1 class="mb-10 text-white">سجل الان </h1>
                    <p class="text-white" style="font-size: 18px">
                        لا تتردد وتشعر بالضجر! كثرة الأقسام والمسميات قد تجعلك تضجر من عملية البحث، ولكن الأمر ضمن الموقع في غاية السهولة، فمن خلال خانة البحث الموجودة في أعلى الموقع، تُسهل عليك الوصول إلى ما تريده فوراً دون الحاجة لتصفح جميع الخيارات، كل ما عليك عمله هو كتابة الكلمة المفتاحية لما تبحث عنه، ويمكنك الاستعانة بالخيارات التابعة لعملية البحث إن أردت كأن يظهر لك بجانب العرض السعر أو أن العرض يحتوي على الصور، بعدها ستظهر لك النتائج بأفضل ما تريد. خطوة واحدة فقط على قسم حيوانات للبيع! بعد تصفّح العروض واختيار منها ما تريده، يتبقى عليك التواصل المباشر مع الجهة المعلنة، ننصحك بأن تختارها ضمن منطقتك، وأن يكون التواصل فيما بينكما مباشراً وعدم التواصل مع الجهات المجهولة أو ذات التواصل غير المباشر.

                    </p>
                    <a class="primary-btn" href="/product/products">جميع الاعلانات </a>
                    {{#if user}}
                    <a class="primary-btn" href="/product/create">اضف اعلان </a>
                    {{else}}
                    <a class="primary-btn" href="/register">تسجيل دخول  </a>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End calto-action Area -->


            <!-- start footer Area -->      
            <footer style='overflow:hidden' class="footer-area section-gap">
                <div class="container">
                    <div class="row">
                      </div>
                        <div class="row footer-bottom ">
                            <p class="col-lg-8 col-sm-12 footer-text m-0 text-white">
                                                     
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> جميع الحقوق محفوظه  |  <i class="fa fa-heart-o" aria-hidden="true"></i> <a href="" target="_blank"> منصه الحري  </a>
                        </p>
                    </div>
                </div>
            </footer>
            <!-- End footer Area -->      
